[submodule "muk_bundles"]
	path = muk_bundles
	url = https://github.com/RLCO/muk_bundles.git
	branch = 12.0
[submodule "muk_dms"]
	path = muk_dms
	url = https://github.com/RLCO/muk_dms.git
	branch = 12.0
[submodule "muk_misc"]
	path = muk_misc
	url = https://github.com/RLCO/muk_misc.git
	branch = 12.0
[submodule "muk_web"]
	path = muk_web
	url = https://github.com/RLCO/muk_web.git
	branch = 12.0
[submodule "muk_website"]
	path = muk_website
	url = https://github.com/RLCO/muk_website.git
	branch = 12.0
[submodule "multi-company"]
	path = multi-company
	url = https://github.com/RLCO/multi-company.git
	branch = 12.0
[submodule "multi-store"]
	path = multi-store
	url = https://github.com/RLCO/multi-store.git
	branch = 12.0
[submodule "oca-custom"]
	path = oca-custom
	url = https://github.com/RLCO/oca-custom.git
	branch = 12.0
[submodule "odoo-academic"]
	path = odoo-academic
	url = https://github.com/RLCO/odoo-academic.git
	branch = 12.0
[submodule "odoo-addons-cae"]
	path = odoo-addons-cae
	url = https://github.com/RLCO/odoo-addons-cae.git
	branch = 12.0
[submodule "odoo-addons-company-wizard"]
	path = odoo-addons-company-wizard
	url = https://github.com/RLCO/odoo-addons-company-wizard.git
	branch = 12.0
[submodule "odoo-addons-hr-incubator"]
	path = odoo-addons-hr-incubator
	url = https://github.com/RLCO/odoo-addons-hr-incubator.git
	branch = 12.0
[submodule "odoo-addons-multi-company"]
	path = odoo-addons-multi-company
	url = https://github.com/RLCO/odoo-addons-multi-company.git
	branch = 12.0
[submodule "odooapps"]
	path = odooapps
	url = https://github.com/RLCO/odooapps.git
	branch = 12.0
[submodule "odoo-mooncard-connector"]
	path = odoo-mooncard-connector
	url = https://github.com/RLCO/odoo-mooncard-connector.git
	branch = 12.0
[submodule "odoo-py3o-report-templates"]
	path = odoo-py3o-report-templates
	url = https://github.com/RLCO/odoo-py3o-report-templates.git
	branch = 12.0
[submodule "odoo-shopinvader"]
	path = odoo-shopinvader
	url = https://github.com/RLCO/odoo-shopinvader.git
	branch = 12.0
[submodule "odoo-shopinvader-payment"]
	path = odoo-shopinvader-payment
	url = https://github.com/RLCO/odoo-shopinvader-payment.git
	branch = 12.0
[submodule "odoo-usability"]
	path = odoo-usability
	url = https://github.com/RLCO/odoo-usability.git
	branch = 12.0
[submodule "odoo-viewer-groups"]
	path = odoo-viewer-groups
	url = https://github.com/RLCO/odoo-viewer-groups.git
	branch = 12.0
[submodule "OpenHRMS"]
	path = OpenHRMS
	url = https://github.com/RLCO/OpenHRMS.git
	branch = 12.0
[submodule "operating-unit"]
	path = operating-unit
	url = https://github.com/RLCO/operating-unit.git
	branch = 12.0
[submodule "partner"]
	path = partner
	url = https://github.com/RLCO/partner.git
	branch = 12.0
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/RLCO/partner-contact.git
	branch = 12.0
[submodule "patches"]
	path = patches
	url = https://github.com/RLCO/patches.git
	branch = 12.0
[submodule "pos"]
	path = pos
	url = https://github.com/RLCO/pos.git
	branch = 12.0
[submodule "pos-addons"]
	path = pos-addons
	url = https://github.com/RLCO/pos-addons.git
	branch = 12.0
[submodule "product"]
	path = product
	url = https://github.com/RLCO/product.git
	branch = 12.0
[submodule "product-attribute"]
	path = product-attribute
	url = https://github.com/RLCO/product-attribute.git
	branch = 12.0
[submodule "product-pack"]
	path = product-pack
	url = https://github.com/RLCO/product-pack.git
	branch = 12.0
[submodule "product-variant"]
	path = product-variant
	url = https://github.com/RLCO/product-variant.git
	branch = 12.0
[submodule "profiloo"]
	path = profiloo
	url = https://github.com/RLCO/profiloo.git
	branch = 12.0
[submodule "project"]
	path = project
	url = https://github.com/RLCO/project.git
	branch = 12.0
[submodule "project-bid"]
	path = project-bid
	url = https://github.com/RLCO/project-bid.git
	branch = 12.0
[submodule "project-earned-value"]
	path = project-earned-value
	url = https://github.com/RLCO/project-earned-value.git
	branch = 12.0
[submodule "project-reporting"]
	path = project-reporting
	url = https://github.com/RLCO/project-reporting.git
	branch = 12.0
[submodule "purchase"]
	path = purchase
	url = https://github.com/RLCO/purchase.git
	branch = 12.0
[submodule "purchase-reporting"]
	path = purchase-reporting
	url = https://github.com/RLCO/purchase-reporting.git
	branch = 12.0
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = https://github.com/RLCO/purchase-workflow.git
	branch = 12.0
[submodule "queue"]
	path = queue
	url = https://github.com/RLCO/queue.git
	branch = 12.0
[submodule "rest-framework"]
	path = rest-framework
	url = https://github.com/RLCO/rest-framework.git
	branch = 12.0
[submodule "rma"]
	path = rma
	url = https://github.com/RLCO/rma.git
	branch = 12.0
[submodule "sale"]
	path = sale
	url = https://github.com/RLCO/sale.git
	branch = 12.0
[submodule "report-print-send"]
	path = report-print-send
	url = https://github.com/RLCO/report-print-send.git
	branch = 12.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = https://github.com/RLCO/reporting-engine.git
	branch = 12.0
